{% extends './elements/base.html.twig' %}
{%  block title %}Ports compatibles{% endblock %}

{% block body %}
    <div class="container">
        {% for port in ports %}
            <li>{{ port.name }}</li>
            {% endfor %}
    </div>
{% endblock %}

